{% extends 'base.html' %}

{% block body %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="section-header">
            <span>E-mail sent</span>
            <h2>E-mail sent</h2>
    
          </div>
    
    </div>
    </section>
<section  class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">Reset Your Password</h2>
            <p class="post-meta">An Email has been sent to your email address. Please follow the instructions to reset your password.</p>
        </div>
    </div>
</section>
{% endblock body %}

{% block styles %}
<style>
    /* Add custom styles for this page */
    .post-title {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #212529;
    }

    .post-meta {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: #6c757d;
    }
</style>
{% endblock styles %}
