<!-- terms_conditions.html -->
{% extends 'base.html' %}

{% block head %}
    <title>Terms and Conditions</title>
{% endblock %}
{% block body %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="section-header">
            <span>Terms and Conditions</span>
            <h2>Terms and Conditions</h2>
    
          </div>
    
    </div>
    </section>
<section>
<div class="container">
    <h1 class="my-4">Terms and Conditions</h1>

    <h2>Introduction</h2>
    <p>Welcome to Anymart! These terms and conditions outline the rules and regulations for the use of our marketplace platform. By accessing or using Anymart, you agree to be bound by these terms and conditions. If you do not agree with any part of these terms, you may not use our services.</p>

    <h2>General Guidelines</h2>
    <ul>
        <li>Users must be at least 18 years old to register and use Anymart.</li>
        <li>Users are responsible for maintaining the security and confidentiality of their account credentials.</li>
        <li>Users agree not to use Anymart for any illegal or unauthorized purposes.</li>
        <li>Users must provide accurate and up-to-date information when creating their profile and listing products.</li>
    </ul>

    <h2>Intellectual Property</h2>
    <p>The content and materials on Anymart, including but not limited to text, images, logos, and trademarks, are the property of Anymart or its licensors and are protected by intellectual property laws.</p>

    <h2>Product Listings</h2>
    <p>Users are solely responsible for the accuracy and legality of the product listings they create on Anymart. Anymart does not endorse or guarantee the quality, safety, or legality of any listed products.</p>

    <h2>Transactions</h2>
    <p>Anymart serves as a platform for buyers and sellers to connect and facilitate transactions. Anymart is not directly involved in the transactions, and any issues or disputes arising from transactions must be resolved directly between the parties involved.</p>

    <h2>Liability</h2>
    <p>Anymart is not liable for any direct, indirect, incidental, consequential, or exemplary damages arising from the use or inability to use our services.</p>

    <h2>Termination</h2>
    <p>We reserve the right to terminate or suspend user accounts and access to Anymart at any time and for any reason without prior notice or liability.</p>

    <h2>Changes to Terms and Conditions</h2>
    <p>We may update or modify these terms and conditions at any time. It is your responsibility to review the terms periodically for any changes. Continued use of Anymart after the changes indicates your acceptance of the modified terms.</p>

    <p>If you have any questions or concerns regarding these terms and conditions, please contact us at info@anymart.com.</p>
</div>
</section>
{% endblock %}
